---
 const personalImageAlt = "Miguel Ángel"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      My name is Maximiliano Grinstein but my friends call me Maxi.<strong
        > I am currently studying a technical degree in programming </strong
      >.
    </p>


    <p>
      Outside of work and studies, I enjoy playing video games. I'm also a passionate sports enthusiast with a strong background in athletics, especially voleyball. Lastly, my advanced English skills have been invaluable for traveling, allowing me to explore diverse places and immerse myself in different cultures.
    </p>
  </div>

  <img width="200" height="200" src="/WhatsApp Image 2024-12-18 at 13.54.53.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
