---
 const personalImageAlt = "Maximiliano Grinstein"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-green-500 dark:[&>p>strong]:text-green-300 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      My name is Maximiliano Grinstein but my friends call me Maxi.<strong
        > I am currently studying a technical degree in programming </strong
      >.
    </p>
    <p>
      I have experience with <strong>C#, Java, Astro, and SQL Server</strong>, and contributed to a veterinary management system using C#, .NET Framework, and SQL Server Management. </strong>This project strengthened my technical and teamwork abilities</strong>.
    </p>
    <p>
      I enjoy creating user-friendly, scalable solutions and addressing challenges in backend, front-end, and database management.
    </p>
    <p>Feel free to reach out if you want to discuss projects, ideas, or opportunities to collaborate!</p>
  </div>

  <img width="200" height="200" src="/WhatsApp Image 2024-12-18 at 13.54.53.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
